.boxed {
	align-content: center;
  border: 1px solid black ;
}

.row{
  align-content: center;
  text-align: center;

}


.portfolio {
  align-content: center;
  width: 33.3%;
  padding: 0 4px;
}


.portfolio{
  align-content: center;
width: 33.3%;
  padding: 0 4px;
}

.portfolio{
  align-content: center;
width: 33.3%;
   padding: 0 4px;
}
.portfolio img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
.image
{
  width:100%;
}
* {
  box-sizing: border-box;
}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
a {
  color: lightgrey;
  text-decoration: none;
  display: inline-block;
  padding: 10px 10px;
}

a:hover {
  color: blue;
}
#wrapper{
  align-content: center;
  width: 80%;
}
.previous {
  background-color: black;
  color: blue;
}

.boxed {
	align-content: center;
  border: 1px solid black ;
}

.previousboxed{
  background-color : black;
  color: blue;
  padding: 5px 5px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-color: black;
}

#mybutton {
  position: fixed;
  bottom: 5px;
  right: 10px;
}
h1 {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid lightgrey; 
   line-height: 0.1em;
   margin:10px 0 20px;
} 

h1 span { 
    background:#fff; 
    padding:0 10px; 
}

.iconify { 
  color: blue; 
}