html {
 height: -webkit-fill-available;
}
body{
  background-color: #2f3742;
  color:#777777; 
  font-family : Roboto;
  padding: 0 !important;
  margin: 0 !important;
min-height: 100%;
height: -webkit-fill-available;
width:100vw;
overflow-y: auto;
overflow-x: auto;


}
h1{font-family: Rajdhani;}
h2{font-family:  Rajdhani;}
h3{font-family:  Rajdhani;}
h4{font-family:  Rajdhani;}
h5{font-family:  Rajdhani;}
h6{font-family:  Rajdhani;}
.btn {
  background: linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff 100%); background-size: 200% auto; padding: 0px 35px; color: #222222;
  
  border: none;
  color: #222222;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  
}

.fix {
  position:fixed;
}

.btn:hover {
  background-color: RoyalBlue;
}
.column1{
  width: 15%;
  
  height: -webkit-fill-available;
  text-align: center;
}
.banner {
width:85%;
height: auto;
margin: 0 auto;
position:relative;
background-image: url(15.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
   /* Full height */
   

  /* Center and scale the image nicely */
  background-position: center;
  
  background-size: cover;
}
div.cont {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 40%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

  }



text {

}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}


.iconify { 
  color: blue; 
}
nav{
  color: #3046fc;
  background-color: #2f3742;
}